<%- include('header') -%>

<div class="text-body">
  <h1 class="title">Compose</h1>
  <form class="" action="/" method="post">
    <p><label for="title">Title</label></p>
    <input  type="text" name="title" value="">
    <label for="content">Post</label>
    <textarea id="story" name="content" rows="10" cols="50">

  </textarea>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>

  </form>

</div>


<%- include('footer') -%>
