<%- include('header') -%>

<div class="text-body">
  <h1 class="title">Contact Us</h1>
  <p> node_modules/ejs/lib/ejs.js:742:15)
    at Template.compile (/Users/macos/Desktop/COURSE DOCUMENTATION/PLAYGROUND/blog/node_modules/ejs/lib/ejs.js:587:12)
    at Object.compile (/Users/macos/Desktop/COURSE DOCUMENTATION/PLAYGROUND/blog/node_modules/ejs/lib/ejs.js:398:16)
    at handleCache (/Users/macos/Desktop/COURSE DOCUMENTATION/PLAYGROUND/blog/node_modules/ejs/lib/ejs.js:235:18)
    at tryHandleCache (/Users/macos/Desktop/COURSE DOCUMENTATION/PLAYGROUND/blog/node_modules/ejs/lib/ejs.js:274:16)
    at exports.renderFile [as engine] (/Users/macos/Desktop/COURSE DOCUMENTATION/PLAYGROUND/blog/node_modules/ejs/lib/ejs.js:49</p>
  </div>


  <%- include('footer') -%>
